<ul class="nav d-flex align-items-center shadow p-2 mb-5" *ngIf="isLoggedIn$ | async">
    <app-sidedraw class="p-2"></app-sidedraw>&nbsp;&nbsp;
    <h3 class="title">
        {{tab}}
    </h3>
    <hr class="mb-2">
    <div class="ms-auto p-2">
        <button class="btn btn-danger me-1" *ngIf="alert" (click)="toggleNotifications()">
          <i class="bi bi-exclamation-circle"></i>
        </button>
        <div class="notifications" [ngClass]="{'change': isChange === true}">
            <h4 id="notification-header"><strong>Notificaciones</strong></h4>
            <ul class="notification-wrapper">
                <li class="notification" (click)="goToMinimums()">
                    <img class="notification-icon" src="assets/product-alert.svg" alt=""><span>Hay Productos debajo del mínimo</span> <button class="btn-notification"><i class="bi bi-arrow-right-circle"></i></button>
                </li>
                <hr>
                <li class="notification" *ngIf="saleAlert === true" (click)="goToOutOfDate()">
                    <img class="notification-icon" src="assets/pay-pending.svg" alt=""><span>Hay deudas de clientes pendientes</span> <button class="btn-notification"><i class="bi bi-arrow-right-circle"></i></button>
                </li>
                <hr>
                <li class="notification" *ngIf="purchaseAlert" (click)="goToOutOfDateProv()">
                    <img class="notification-icon" src="assets/pay-pending.svg" alt=""><span>Hay deudas por pagar pendientes</span> <button class="btn-notification"><i class="bi bi-arrow-right-circle"></i></button>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">{{user}}</button>
            <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Ajustes</a></li>
                <li><a href="#" class="dropdown-item">Ajustes</a></li>
                <li><a href="#" class="dropdown-item">Ajustes</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a href="#" class="dropdown-item" (click)="onLogout()"> Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
</ul>
