.login-clean {
    background: #f1f7fc;
    padding: 80px 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-clean form {
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.login-clean .illustration {
    text-align: center;
    padding: 0 0 20px;
    font-size: 50px;
    color: rgb(244, 71, 107);
}

.login-clean form .btn-primary {
    background: #f4476b;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none !important;
}

.login-clean form .btn-primary:hover,
.login-clean form .btn-primary:active {
    background: #eb3b60;
}

.login-clean form .btn-primary:active {
    transform: translateY(1px);
}

.forgot {
  width: 50%;
}

.login-clean form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
    cursor: pointer;
  }

.login-clean form .forgot:hover {
  position: relative;
  color: rgb(0, 0, 0);
}

.login-clean form .forgot {
  animation: underlinein .5s;
}

.login-clean form .forgot:hover::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #000000;
  width: 100%;
  left: 0px;
  bottom: 0;
  animation: underlinein .5s;
}

@keyframes underlinein {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes underlineout {
  0% {
    width: 100%;
  }
  25% {
    width: 75%;
  }
  50% {
    width: 25%;
  }
  100% {
    width: 0%;
  }
}

.login-clean form .forgot:hover,
.login-clean form .forgot:active {
    opacity: 1;
    text-decoration: none;
}

.wrapper {
    position: relative;
}

app-loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5%;
    z-index: 1000;
    padding: 220px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(87, 87, 87, 0.603);
}

.loading-wrapper {
    display: flex;
    justify-content: center;
}
