<div class="container mt-3">
    <div class="row">
        <div class="col-8 offset-2">
            <form [formGroup]="newClientForm">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Nuevo cliente</h4>
                    </div>
                    <div class="card-body">
                        <div class="col-8 offset-2" *ngIf="alert">
                            <div class="alert text-center" [ngClass]="alertType">
                                {{message}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9 offset-1">
                                <div class="row">
                                    <!-- CI -->
                                    <div class="col-4 text-end">
                                        <label for="ci">CI/RUC:</label>
                                    </div>
                                    <div class="col-8 mb-3">
                                        <input type="text" class="form-control form-control-sm" name="ci" id="ci" formControlName="cli_ci">
                                    </div>
                                    <!-- Nombres -->
                                    <div class="col-4 text-end">
                                        <label for="first_name">Nombres:</label>
                                    </div>
                                    <div class="col-8 mb-3">
                                        <input type="text" class="form-control form-control-sm" name="first_name" id="first_name" formControlName="cli_firstName" />
                                    </div>
                                    <!-- Apellidos -->
                                    <div class="col-4 text-end">
                                        <label for="last_name">Apellidos:</label>
                                    </div>
                                    <div class="col-8 mb-3">
                                        <input type="text" class="form-control form-control-sm" name="last_name" id="last_name" formControlName="cli_lastName" />
                                    </div>
                                    <!-- Dirección -->
                                    <div class="col-4 text-end">
                                        <label for="address">Dirección:</label>
                                    </div>
                                    <div class="col-8 mb-3">
                                        <input type="text" class="form-control form-control-sm" name="address" id="address" formControlName="cli_address">
                                    </div>
                                    <!-- Correo -->
                                    <div class="col-4 text-end">
                                        <label for="email">Correo:</label>
                                    </div>
                                    <div class="col-8 mb-3">
                                        <input type="email" class="form-control form-control-sm" name="email" id="email" formControlName="cli_email" />
                                    </div>
                                    <!-- Teléfono -->
                                    <div class="col-4 text-end">
                                        <label for="phone">Teléfono:</label>
                                    </div>
                                    <div class="col-8 mb-3">
                                        <input type="tel" class="form-control form-control-sm" name="phone" id="phone" formControlName="cli_phone" />
                                    </div>
                                    <!-- Deuda -->
                                    <div class="col-4 text-end">
                                        <i class="bi bi-info-circle" title="Agregar solo si el cliente posee una deuda pre existente"></i><label for="debt" class="ms-1">Deuda:</label>
                                    </div>
                                    <div class="col-8 mb-3">
                                        <input type="number" id="debt" class="form-control form-control-sm" name="debt" id="debt" formControlName="cli_debt" />
                                    </div>
                                    <div class="col-4 text-end">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [checked]="!enableCredit" (click)="enableCheckbox()">
                                        <label for="credit">Crédito</label>
                                    </div>
                                    <div class="col-8 mb-3">
                                        <input type="number" name="creditAmount" id="creditAmount" class="form-control form-control-sm" formControlName="cli_credit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-around">
                        <button class="btn btn-success" [disabled]="!newClientForm.valid || loading" data-bs-toggle="modal" data-bs-target="#modalAlert">
                          <i class="bi bi-save" *ngIf="!loading"></i>
                          <span class="spinner-border spinner-border-sm" role="status" *ngIf="loading" aria-hidden="true"></span>
                          Guardar
                        </button>
                        <a class="btn btn-warning" onclick="history.back()">
                            <i class="bi bi-arrow-bar-left"></i> Salir
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modelId">


</button> -->

<!-- Modal -->
<div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alerta</h5>
            </div>
            <div class="modal-body">
                <i class="bi bi-exclamation-octagon me-3"></i>
                <p class="alertMessage">¿Seguro que desea actualizar el cliente?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="onPostClient()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
