fieldset {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

legend {
  position: absolute;
  top: -20px;
  background: #fafafa;
  width: auto;
  padding: 0 5px;
}
