<app-header></app-header>
<div class="container" *ngIf="sale">
    <div class="row">
        <div class="col-8 offset-2">
            <label>{{sale.sale_totalRetail}}</label><br>
            <label>{{sale.sale_date}}</label><br>
            <label>{{sale.sale[0].sdt_id}}</label><br>
            <label>{{sale.sale[0].product.prod_name}}</label><br>
            <!-- <table class="table">
                <thead>
                    <tr>
                        <th>Cant</th>
                        <th>Producto</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let saleInfo of sale.sale">
                        <td>{{infoSale.sdt_quantity}}</td>
                        <td>{{infoSale.product.prod_name}}</td>
                        <td>{{sale.sale_totalRetail}}</td>
                    </tr>
                </tbody>
            </table> -->
            <!-- <div class="form-group">
        <h5>Cliente</h5>

      </div> -->
        </div>
    </div>
</div>