<!-- <app-header [tab]="section"></app-header> -->

<div class="container">
  <div class="table-wrapper">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Cant. Actual</th>
                <th>Cant. Mínima</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i = index">
                <td>{{i + 1}}</td>
                <td>{{product.prod_code}}</td>
                <td>{{product.prod_name}}</td>
                <td>{{product.prod_quantity}}</td>
                <td>{{product.prod_minQuantity}}</td>
                <td>
                    <button class="btn btn-success btn-sm"><i class="bi bi-plus-circle"></i></button>&nbsp;
                    <button class="btn btn-warning btn-sm" title="Dar de baja"><i class="bi bi-dash-circle"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
    <div class="buttons d-flex justify-content-around mt-2">
        <button type="button" class="btn btn-primary" (click)="printMinimums()">
          <i class="bi bi-printer-fill"></i>
          Imprimir
        </button>
        <button class="btn btn-warning" onclick="history.back()">
          <i class="bi bi-arrow-bar-left"></i>
          Atrás
        </button>
    </div>
</div>
