.table-wrap {
    height: 380px;
    overflow-y: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #d6dbe0;
    background-color: white;
}

.thead-inverse {
    position: sticky;
    top: 0;
    background-color: white;
}

td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.row-detail {
    border-style: solid;
    border-color: #ebecee;
    border-width: 1px;
    background-color: white;
}

.cant-input {
    width: 50px;
}
