.item-hidden {
    visibility: hidden;
}

td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.row-detail {
    border-style: solid;
    border-color: #ebecee;
    border-width: 1px;
    background-color: white;
}

.cant-input {
    width: 50px;
}

#cant {
    width: 70px;
}

.row>* {
    padding-right: 0px;
}

// Client data
fieldset {
    position: relative;
    border: 1px solid #a3a3a3;
    padding: 0px 8px;
    border-radius: 5px;
    background-color: #fff;
}

legend {
    position: absolute;
    top: -16px;
    left: 5px;
    font-size: 12px;
}

// Modal change
.change {
    width: 100%;
    padding: 4px 0;
    border-radius: 4px;
    display: flex;
    padding-left: 15px;
    height: 35px;
}
