<app-header [tab]="section"></app-header>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <label for="client_ci" class="col-1"><strong>CI/RUC:</strong></label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control form-control-sm mb-3" id="client_ci" [(ngModel)]="client_ci" (keyup.enter)="getClient()" spellcheck="true" autocomplete="off" />
                </div>
                <div class="col-1">
                    <button class="btn btn-info btn-sm">
              <i class="bi bi-search"></i>
            </button>
                </div>
                <div class="col-1">
                    <button class="btn btn-success btn-sm" tabindex="-2" id="openModal" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Agregar nuevo cliente">
                      <i class="bi bi-plus-circle"></i>
                    </button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <label for="code" class="col-1"><strong>Código:</strong></label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control form-control-sm" id="code" [(ngModel)]="productBarcode" (keyup.enter)="getProductBarcode()" autofocus autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="col-6">
            <form>
                <fieldset>
                    <legend>Datos del cliente</legend>
                    <div class="row">
                        <div class="col-6">
                            <label for=""><strong>Cliente:</strong> {{clientName}}</label>
                        </div>
                        <div class="col-6">
                            <label for=""><strong>Teléfono:</strong> {{clientPhone}}</label>
                        </div>
                        <div class="col-6">
                            <label for=""><strong>Dirección:</strong> {{clientPhone}}</label>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-wrap">
                <table class="table table-sm table-bordered table-hover table-inverse table-responsive">
                    <thead class="thead-inverse border border-dark">
                        <tr>
                            <th id="cant" scope="col">Cant</th>
                            <th scope="col">Product</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Unit. Price</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <tr *ngFor="let product of products; let i = index" (click)="rowClicked(i, product.prod)" (keyup.backspace)="removeProduct(product.prod)" [ngClass]="{'table-active': i === selectedRow}">
                            <td>
                                <input type="number" value="1" min="1" [id]="product.prod" [(ngModel)]="products[i].cant" class="cant-input" (input)="addCant(i, $event)" (keyup.enter)="changeFocus()">
                            </td>
                            <td>{{ product.prod }}</td>
                            <td>$0.00</td>
                            <td>{{ product.price | currency }}</td>
                            <td>{{ product.total | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-8">
                <div class="row row-detail">
                    <div class="col-4 text-end border-end">
                        <p><strong>Subtotal:</strong></p>
                    </div>
                    <div class="col-8">
                        {{totalRetail | currency}}
                    </div>
                </div>
                <div class="row row-detail">
                    <div class="col-4 text-end border-end">
                        <p><strong>Total:</strong></p>
                    </div>
                    <div class="col-8">
                        {{totalRetail | currency}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-around mt-3">
        <button class="btn btn-primary" (click)="printer()" data-bs-toggle="modal" data-bs-target="#modalChange" [disabled]="total===0 || !clientName">
      <i class="bi bi-gear-fill"></i>
      Procesar
    </button>
        <a [routerLink]="['../home']" tabindex="-1" class="btn btn-danger">
            <i class="bi bi-arrow-bar-left"></i> Atrás
        </a>
    </div>
</div>


<!-- Modal nuevo cliente -->

<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ingresar nuevo cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newClientForm">
                    <div class="row">
                        <div class="col-4 text-end mb-3">
                            <label for="cli_ci">CI/RUC:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control form-control-sm" id="cli_ci" formControlName="cli_ci">
                        </div>
                        <div class="col-4 text-end mb-3">
                            <label for="cli_firstName">Nombres:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control form-control-sm" id="cli_firstName" formControlName="cli_firstName">
                        </div>
                        <div class="col-4 text-end mb-3">
                            <label for="cli_lastName">Apellidos:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control form-control-sm" id="cli_lastName" formControlName="cli_lastName">
                        </div>
                        <div class="col-4 text-end mb-3">
                            <label for="cli_phone">Telefono:</label>
                        </div>
                        <div class="col-8">
                            <input type="phone" class="form-control form-control-sm" id="cli_phone" autocomplete="off" formControlName="cli_phone">
                        </div>
                        <div class="col-4 text-end mb-3">
                            <label for="cli_email">Correo:</label>
                        </div>
                        <div class="col-8">
                            <input type="email" class="form-control form-control-sm" id="cli_email" autocomplete="off" formControlName="cli_email">
                        </div>
                        <div class="col-4 text-end mb-3">
                            <label for="cli_address">Dirección:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control form-control-sm" id="cli_address">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeModal" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" [disabled]="!newClientForm.valid" (click)="onPostClient()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal nuevo Cliente -->

<!-- Modal cambio -->
<div class="modal fade" id="modalChange" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ingresar monto recibido</h5>
                <button type="button" class="btn-close" tabindex="-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 text-end mb-3">
                        <label for="sale_total">Total:</label>
                    </div>
                    <div class="col-8 text-end mb-3">
                        <input type="text" class="form-control" id="sale_total" disabled [value]="total | currency">
                    </div>
                    <div class="col-4 text-end mb-3">
                        <label for="amount">Monto recibido:</label>
                    </div>
                    <div class="col-8 text-end mb-3">
                        <input type="number" class="form-control" id="amountGivenInput" (keyup)="calculateChange()" (keyup.enter)="changeFocusModal()" [(ngModel)]="amountGiven">
                    </div>
                    <div class="col-4 text-end">
                        <label for="change">Cambio:</label>
                    </div>
                    <div class="col-8 text-end">
                        <input type="text" class="form-control" disabled [(ngModel)]="change" style="background-color: #d1e6dd;">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="resetAmount()" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="closeModalOk">Procesar</button>
            </div>
        </div>
    </div>
</div>
