<app-header [tab]="section"></app-header>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-2">
                    <label for="client_ci" class="col-1"><strong>CI/RUC:</strong></label>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control form-control-sm mb-3" id="client_ci" [(ngModel)]="client_ci" (keyup.enter)="getClientData(client_ci)" spellcheck="true" autocomplete="off" />
                </div>
                <div class="col-5">
                    <button class="btn btn-info btn-sm" tabindex="-2" id="openModalSearch" data-bs-toggle="modal" data-bs-target="#modalSearch" title="Agregar nuevo cliente" (click)="setFocusOnModal()">
                      <i class="bi bi-search"></i>
                    </button>
                    <button class="btn btn-success btn-sm" tabindex="-2" id="openModal" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Agregar nuevo cliente" (click)="setFocusNew()">
                      <i class="bi bi-plus-circle"></i>
                    </button>
                </div>
                <div class="col-1">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <label for="code" class="col-1"><strong>Código:</strong></label>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control form-control-sm" id="code" [(ngModel)]="productBarcode" (keyup.enter)="getProductBarcode()" autofocus autocomplete="off" [disabled]="isRequesting === true" />
                </div>
                <div class="col-1">
                    <button class="btn btn-primary btn-sm" tabindex="-3" id="openModalSearchProd" data-bs-toggle="modal" data-bs-target="#modalSearchProd">
                    <i class="bi bi-search"></i>
                  </button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <form>
                <fieldset>
                    <legend>Datos del cliente</legend>
                    <div class="row">
                        <div class="col-6">
                            <label for=""><strong>Cliente:</strong> {{clientName | titlecase}}</label>
                        </div>
                        <div class="col-6">
                            <label for=""><strong>Teléfono:</strong> {{clientPhone}}</label>
                        </div>
                        <div class="col-6">
                            <label for=""><strong>Dirección:</strong> {{clientAddress | titlecase}}</label>
                        </div>
                        <div class="col-6 d-flex" [ngClass]="{'item-hidden': showBtn()}">
                            <div class="form-check">
                                <label class="form-check-label">
                              <input type="checkbox" [disabled]="setCredit === false" class="form-check-input" title="El cliente no tiene crédito aprobado o alcanzó el limite de su crédito">
                              Crédito
                            </label>
                            </div> &nbsp;
                            <button type="button" class="btn btn-success btn-sm" title="Generar crédito" data-bs-toggle="modal" [disabled]="hasCredit === false" data-bs-target="#modalCredit"><i class="bi bi-bullseye"></i></button>

                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-wrap">
                <table class="table table-sm table-hover  table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th id="cant" scope="col">Cant</th>
                            <th scope="col">Product</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Unit. Price</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <tr *ngFor="let product of products; let i = index" (click)="rowClicked(i, product.prod)" (keyup.backspace)="removeProductFromTable(product.prod_name)" [ngClass]="{'table-active': i === selectedRow}">
                            <td>
                                <input type="number" value="1" min="1" [id]="product.prod" [(ngModel)]="products[i].cant" class="cant-input" (input)="addCant(i, $event)" (keyup.enter)="setFocusOnCode()">
                            </td>
                            <td>{{ product.prod_name }}</td>
                            <td>$0.00</td>
                            <td>{{ product.price | currency }}</td>
                            <td>{{ product.total | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-8">
                <div class="row row-detail">
                    <div class="col-6 text-end border-end">
                        <p><strong>Subtotal:</strong></p>
                    </div>
                    <div class="col-6 d-flex justify-content-end" style="padding-right: 25px; font-size: 25px;">
                        {{totalRetail | currency}}
                    </div>
                </div>
                <div class="row row-detail">
                    <div class="col-6 text-end border-end">
                        <p><strong>Total:</strong></p>
                    </div>
                    <div class="col-6 d-flex justify-content-end" style="padding-right: 25px; font-size: 25px;">
                        {{totalRetail | currency}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-around mt-3">
        <button class="btn btn-primary" tabindex="-1" data-bs-toggle="modal" data-bs-target="#change" (click)="setFocusChange()" [disabled]="total===0 || !clientName">
      <i class="bi bi-gear-fill"></i>
      Procesar
    </button>
        <a [routerLink]="['../home']" tabindex="-1" class="btn btn-danger">
            <i class="bi bi-arrow-bar-left"></i> Atrás
        </a>
    </div>
</div>


<!-- Modal nuevo cliente -->

<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <app-new-client-modal (client)="updateClient($event)" (close)="setFocusOnCode()"></app-new-client-modal>
    </div>
</div>
<!-- Fin Modal nuevo Cliente -->

<!-- Modal cambio -->
<div class="modal fade" id="change" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-amount-given-modal (amountGivenChecker)="setAmountGiven($event)" (print)="validateForm($event)" [totalRetail]="totalRetail" [amountGiven]="amountGiven" [change]="change"></app-amount-given-modal>

        </div>
    </div>
</div>
<!-- Fin Modal cambio -->

<!-- Modal busqueda cliente -->
<div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-search-client-modal (selectedClient)="getClientData($event)" (close)="setFocusOnCode()"></app-search-client-modal>
    </div>
</div>
<!-- Fin modal busqueda cliente -->

<!-- Modal busca prod -->
<div class="modal fade" id="modalSearchProd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buscar producto</h5>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="row">
                        <div class="col-4">
                            <label for="searchProdName">Producto</label>
                        </div>
                        <div class="col-8">
                            <input type="text" name="searchProdName" class="form-control form-control-sm" [(ngModel)]="seachedProduct" (keyup.enter)="searchProduct(seachedProduct)">
                        </div>
                    </div>
                </div>
                <table class="table table-hover mt-3">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Código</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prod of matchingProducts" (dblclick)="selectProduct(prod)">
                            <td scope="row">{{prod.prod_quantity}}</td>
                            <td>{{prod.prod_code}}</td>
                            <td>{{prod.prod_name}}</td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save</button> -->
            </div>
        </div>
    </div>
</div>

<!-- Modal Crédito -->


<!-- Modal Credit -->
<div class="modal modalCredit fade" id="modalCredit" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="creditAmount">Monto del crédito:</label>
                    <input type="number" id="creditAmount" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
