<div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h2>Configuración</h2>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="nombre-empresa">Nombre de la empresa</label>
                        <input type="text" class="form-control" name="NombreEmpresa" id="nombre-empresa">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
