<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Buscar cliente</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <label for="">Nombre</label>
                <input type="text" id="searchInput" class="form-control form-control-sm" [(ngModel)]="searchTerm" (keyup.enter)="searchClient()">
            </div>

        </div>
        <div class="table-wrapper">
          <table class="table table-hover mt-3">
            <thead class="thead-inverse">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Apellido</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clientsList; let i = index" (dblclick)="doubleClick(clientsList[i])">
                    <td>{{client.cli_firstName}}</td>
                    <td>{{client.cli_lastName}}</td>
                    <td>{{client.cli_phone}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btnModalSearch" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="closeModal()" data-bs-dismiss="modal">Guardar</button>
    </div>
</div>
