<div class="container">
    <h2>Historial</h2>
    <div class="row">
        <div class="col-4">
            <select name="searchType" id="" class="form-select">
          <option selected>Seleccione que tipo de busqueda desea realizar</option>
          <option value="payment">Pagos</option>
          <option value="credit">Créditos</option>
          <option value="all">Todos</option>
        </select>
        </div>
    </div>
    <label><strong>Cliente: </strong>{{client}}</label>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                    <th>Pago</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of history">
                    <td>{{record.clp_id}}</td>
                    <td>{{record.clp_amount}}</td>
                    <td>{{record.clm_type}}</td>
                    <td>{{record.clp_date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="actions d-flex justify-content-end mt-2">
      <button class="btn btn-warning" onclick="history.back()">
        <i class="bi bi-arrow-bar-left"></i>
        Atrás
      </button>
    </div>
</div>
