<app-header [tab]="section"></app-header>
<div class="container">

    <div class="row">
        <label for="search">Buscar:</label>
        <div class="col-3">
            <input type="text" class="form-control form-control-sm" name="search" id="search" #searchCriteria (keyup.enter)="searchProduct(searchCriteria.value)" autocomplete="off">
        </div>
    </div>
    <!-- <div class="col-4">
        <input type="date" placeholder="dd-mm-yy" min="2020-01-01" class="form-control form-control-sm">
    </div> -->

    <div class="table-wrapper mt-3">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Ubicación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of inventory; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{product.prod_code}}</td>
                    <td>{{product.prod_name | titlecase}}</td>
                    <td>{{product.prod_quantity}}</td>
                    <td>{{product.location.loc_name}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm">
                      <i class="bi bi-eye-fill"></i>
                    </button>&nbsp;
                        <button class="btn btn-success btn-sm">
                      <i class="bi bi-pencil-square"></i>
                    </button>&nbsp;
                        <button class="btn btn-warning btn-sm">
                      <i class="bi bi-dash-circle-fill"></i>
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
