<div class="container mt-5">
  <div class="card">
    <div class="card-header text-center"><h3>ServiFac - Resetear Contraseña</h3></div>
    <div class="card-body">
      <span >Ingrese la clave temporal enviada al correo {{email}}</span>
      <div class="alert" [ngClass]="alertType" *ngIf="isShowingAlert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        {{alertMessage}}
      </div>
      <form [formGroup]="resetPassForm">
          <div class="row mt-3">
            <div class="col-5 text-end">
              <label for="tempPass">Ingrese la contraseña temporal</label>
            </div>
            <div class="col-7">
              <input type="password" class="form-control form-control-sm mb-3" formControlName="tempPass">
            </div>
            <div class="col-5 text-end">
              <label for="newPass">Ingrese su nueva contraseña</label>
            </div>
            <div class="col-7">
              <input type="password" class="form-control form-control-sm mb-3" formControlName="newPass">
            </div>
            <div class="col-5 text-end">
              <label for="confirmPass">Confirmar nueva contraseña</label>
            </div>
            <div class="col-7">
              <input type="password" class="form-control form-control-sm mb-1" formControlName="confirmPass">
              <div *ngIf="resetPassForm.touched && resetPassForm.errors?.passwordMatch" class="cross-validation-error-message">
                Las contraseñas no coinciden
              </div>
            </div>
          </div>
        </form>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <button class="btn btn-success" (click)="onResetPassword()" [disabled]="!resetPassForm.valid || isRequesting">
        Aceptar
        <div class="spinner-border spinner-border-sm" role="status" *ngIf="isRequesting"></div>
      </button>
      <button class="btn btn-warning" [routerLink]="['/auth/login']" [disabled]="isRequesting">Atrás</button>
    </div>
  </div>
</div>

