<div class="container">
    <form class="mt-4">
        <fieldset>
            <legend>Proveedor</legend>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label><b>Empresa:</b> </label> {{provider?.prov_name}}
                    </div>
                    <div class="form-group">
                        <label><b>RUC:</b> </label> {{provider?.prov_ruc}}
                    </div>
                    <div class="form-group">
                        <label><b>Teléfono:</b> </label> {{provider?.prov_phone}}
                    </div>
                    <button class="btn btn-info btn-sm">
                      Ver historial
                    </button>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label><b>Nombre de la cuenta:</b> </label> {{provider?.prov_accountName}}
                    </div>
                    <div class="form-group">
                        <label><b>Tipo de cuenta:</b> </label> {{provider?.prov_accountType}}
                    </div>
                    <div class="form-group">
                        <label><b>Número de cuenta:</b> </label> {{provider?.prov_accountNumber}}
                    </div>
                    <button class="btn btn-success btn-sm me-1" title="Ingresar pago a proveedor" (click)="payment()" data-bs-toggle="modal" data-bs-target="#modalTransaction">
                      <i class="bi bi-journal-arrow-down"></i> Registrar Pago
                    </button>

                </div>
            </div>
        </fieldset>
    </form>

    <div class="row d-flex mt-2">
        <div class="col-2 form-group">
            <span>Buscar:</span>
            <select name="type" id="type" class="form-select form-select-sm">
              <option value="na">Seleccione...</option>
              <option value="credit">Por fechas</option>
              <option value="all">Todos</option>
            </select>
        </div>
        <div class="col-2">
            <span>Desde:</span> <input type="date" [max]="maxDate" class="form-control form-control-sm" [(ngModel)]="from">
        </div>
        <div class="col-2">
            <span>Hasta:</span> <input type="date" [max]="maxDate" class="form-control form-control-sm" [(ngModel)]="to">
        </div>
        <div class="col-1 d-flex align-self-end">
            <button class="btn btn-primary btn-sm" (click)="searchPurchases()">Buscar</button>
        </div>
        <div class="col d-flex align-self-end justify-content-end">
            <button class="btn btn-warning btn-sm" title="Ingresar crédito a proveedor" (click)="credit()" data-bs-toggle="modal" data-bs-target="#modalTransaction">
            <i class="bi bi-plus-square"></i> Registrar compra
          </button>
        </div>
    </div>
    <div class="table-wrapper mt-3">
        <table class="table table-hover table-sm ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Monto de crédito</th>
                    <th>Monto cancelado</th>
                    <th>Fecha</th>
                    <th>Fecha máxima</th>
                    <th>Información</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let purchase of purchases">
                    <td>{{purchase.pur_id}}</td>
                    <td>{{purchase.pur_amount}}</td>
                    <td>{{purchase.pur_paid}}</td>
                    <td>{{purchase.pur_date}}</td>
                    <td>{{purchase.pur_maxDate}}</td>
                    <td>{{purchase.pur_info}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
    <div class="buttons d-flex justify-content-end">
        <button class="btn btn-warning" (click)="goToListingProv()">
        <i class="bi bi-arrow-bar-left"></i>
        Atrás
      </button>
    </div>
</div>
<app-transactions [action]="action" [ruc]="provider?.prov_ruc"></app-transactions>
