<div class="row mt-3">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-header">
                <h3>Categorias</h3>
            </div>
            <div class="card-body">
                <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modal-new" (click)="updateId()">
                  <i class="bi bi-plus-circle"></i>
                  Agregar categoria
                </button>
                <div class="table-wrapper mt-2">
                    <table class="table table-sm table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categories$ | async; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{category.cat_name}}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm me-2">Editar</button>
                                    <button class="btn btn-warning btn-sm">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
