<div class="container">
    <div class="row mb-3 mt-5">
        <div class="col-6">
            <div class="row">
                <div class="col-1">
                    <label for="search">Buscar:</label>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control form-control-sm" name="search" id="search">
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover mt-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Deuda</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let clients of client; let i = index">
                <td>{{i + 1}}</td>
                <td>{{clients.cli_firstName}} {{clients.cli_lastName}}</td>
                <td>{{clients.cli_phone}}</td>
                <td>{{clients.cli_debt | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>