<div class="container">
    <div class="row mb-3 mt-5">
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <label for="search">Buscar:</label>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control form-control-sm" id="search" #searchCriteria autofocus (keyup.enter)="searchClient(searchCriteria.value)">
                </div>
            </div>
        </div>
    </div>
    <div class="table-wrap">
        <table class=" table table-sm table-bordered table-hover ">
            <thead>
                <tr>
                    <th scope="col ">#</th>
                    <th scope="col ">Nombre</th>
                    <th scope="col ">Teléfono</th>
                    <th scope="col ">Deuda</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clients of client; let i=index ">
                    <td>{{i + 1}}</td>
                    <td>{{clients.cli_firstName}} {{clients.cli_lastName}}</td>
                    <td>{{clients.cli_phone}}</td>
                    <td>{{clients.cli_debt | currency}}</td>
                    <td>
                        <button class="btn btn-info btn-sm" title="Ver cliente " (click)="goToClient(clients.cli_ci) ">
                      <i class="bi bi-eye-fill "></i>
                    </button>&nbsp;
                        <button class="btn btn-success btn-sm" title="Editar datos del cliente">
                      <i class="bi bi-pencil-square "></i>
                    </button>&nbsp;
                        <button class="btn btn-warning btn-sm" title="Generar reporte ">
                      <i class="bi bi-download "></i>
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!client.length === 0" style="text-align: center;">
        <label>No ha ingresado ningún criterio de busqueda</label>

    </div>
    <div class="buttons-actions d-flex justify-content-end ">
        <!-- <button class="btn btn-danger "></button> -->
        <a class="btn btn-danger " [routerLink]="[ '../../home'] ">
            <i class="bi bi-backspace-fill "></i> Atrás
        </a>
    </div>
</div>
