.offcanvas-header {
    background-color: #1976D2;
    color: #fff;
}

.offcanvas-body {
    background: #1976D2;
    // background: linear-gradient(0deg, rgba(189, 28, 53, 1) 0%, rgba(194, 21, 56, 1) 100%);
}

.offcanvas-body,
.offcanvas-header>* {
    color: black;
}

.list-group {
    border-radius: 0px;
}

.list-group-item.active {
    background-color: #fff;
    color: #0d47a1;
    border-color: transparent;
}

.list-group-item {
    background-color: #1976D2;
    color: #fff
}

.offcanvas-start {
    width: 300px;
}