<div class="container" *ngIf="summary">
    <div class="row">
        <div class="col">
            Nombre: {{summary.cli_firstName}}<br> Email: {{summary.cli_email}}<br> Phone: {{summary.cli_phone}}<br> Dirección: {{summary.cli_address}}<br> Dauda: {{summary.cli_debt | currency}}<br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Total</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sale of summary.sale">
                        <td>{{sale.sale_id}}</td>
                        <td>{{sale.sale_totalRetail | currency}}</td>
                        <td>{{sale.sale_date | date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
