<div class="container" *ngIf="summary">
    <a class="btn btn-dark" (click)="goBack()">Atrás</a>
    <form>
        <fieldset>
            <legend>Datos del cliente</legend>
            <div class="row">
                <div class="col-6">
                    <strong>Nombre:</strong> {{ summary.cli_firstName }} {{ summary.cli_lastName }}<br />
                    <strong>Phone:</strong> {{ summary.cli_phone }}<br />
                    <strong>Deuda:</strong> {{ summary.cli_debt | currency }}<br />
                </div>
                <div class="col-6">
                    <strong>Email:</strong> {{ summary.cli_email }}<br />
                    <strong>Dirección:</strong> {{ summary.cli_address }}<br />
                    <button type="button" class="btn btn-success btn-sm" [disabled]="hasCredit === true" data-bs-toggle="modal" data-bs-target="#creditAuthModal">Aprobar crédito</button>
                    <button class="btn btn-primary btn-sm" type="button" [disabled]="!hasDebt">Registrar pago</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="row ">
        <div class="col">
            <div class="info d-flex align-items-center justify-content-end mt-3">
                <div class="square square-paid"></div> &nbsp;
                <label>Pagado</label> &nbsp; &nbsp;
                <div class="square square-pending"></div>&nbsp;
                <label>Pendiente</label>
            </div>
            <table class="table table-hover table-sm mt-1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Total</th>
                        <th>Pagado</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sale of summary.sale" [ngClass]="+sale.sale_totalPayment === +sale.sale_totalRetail ? 'table-success' : 'table-warning'">
                        <td>{{ sale.sale_id }}</td>
                        <td>{{ sale.sale_totalRetail | currency }}</td>
                        <td>{{ sale.sale_totalPayment | currency }}</td>
                        <td>{{ sale.sale_date | date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="creditAuthModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <app-auth-credit [client_ci]="summary?.cli_ci" (amountOutput)="updateClientCredit()"></app-auth-credit>
</div>
