fieldset {
    margin-top: 25px;
    outline: 1px solid #777;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
}

legend {
    position: absolute;
    top: -25px;
    background-color: rgb(245, 245, 245);
    width: auto;
}

.square {
    width: 15px;
    height: 15px;
    outline: 1px solid #888;
}

.square-paid {
    background-color: #d1e6dd;
}

.square-pending {
    background-color: #fff3cd;
}

.table-wrapper {
    height: 350px;
    overflow-y: auto;
    border: 1px solid black;
}
