fieldset {
    margin-top: 25px;
    outline: 1px solid #b6b6b6;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
}

legend {
    position: absolute;
    top: -20px;
    background-color: #fafafa;
    width: auto;
    font-size: 20px;
}

.square {
    width: 15px;
    height: 15px;
    outline: 1px solid #888;
}

.square-paid {
    background-color: #d1e6dd;
}

.square-pending {
    background-color: #fff3cd;
}

.table-wrapper {
    height: 350px;
    overflow-y: auto;
    border: 1px solid black;
}
