<div class="container" *ngIf="summary">
    <a class="btn btn-dark" (click)="goBack()">Atrás</a>
    <form>
        <fieldset>
            <legend>Datos del cliente</legend>
            <div class="row">
                <div class="col-6">
                    <strong>Nombre:</strong> {{ summary.cli_firstName }} {{ summary.cli_lastName }}<br />
                    <strong>Phone:</strong> {{ summary.cli_phone }}<br />
                    <strong>Deuda:</strong> {{ summary.cli_debt | currency }}<br />
                    <button *ngIf="summary.cli_debt > 0" class="btn btn-success btn-sm">Realiza pago</button>
                </div>
                <div class="col-6">
                    <strong>Email:</strong> {{ summary.cli_email }}<br />
                    <strong>Dirección:</strong> {{ summary.cli_address }}<br />
                    <button type="button" class="btn btn-success btn-sm me-1" [disabled]="hasCredit === true" data-bs-toggle="modal" data-bs-target="#creditAuthModal">Aprobar crédito</button>
                    <button class="btn btn-primary btn-sm" type="button" [disabled]="!hasDebt" data-bs-toggle="modal" data-bs-target="#amountModal" (click)="setFocusModal()">Registrar pago</button><br>
                    <button class="btn btn-info btn-sm mt-1" (click)="goToHistory(summary.cli_ci,summary.cli_firstName,  summary.cli_lastName)">Ver Historial</button>

                </div>
            </div>
        </fieldset>
    </form>
    <div class="row ">
        <div class="col">
            <button class="btn btn-light" (click)="pagar()">Pagar</button>
            <div class="info d-flex align-items-center justify-content-end mt-3 mb-1">
                <div class="square square-paid"></div> &nbsp;
                <label>Pagado</label> &nbsp; &nbsp;
                <div class="square square-pending"></div>&nbsp;
                <label>Pendiente</label>
            </div>
            <div class="table-wrapper">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Total</th>
                            <th>Pagado</th>
                            <th>Fecha de compra</th>
                            <th>Fecha de crédito</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sale of summary.sale" [ngClass]="+sale.sale_totalPayment === +sale.sale_totalRetail ? 'table-success' : 'table-warning'">
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" [value]="sale.sale_id" [disabled]="+sale.sale_totalPayment === +sale.sale_totalRetail" [value]="sale.sale_id" [(ngModel)]="sale.isSelected">
                                    <label class="form-check-label" for="">
                            </label>
                                </div>
                            </td>
                            <td>{{ sale.sale_id }}</td>
                            <td>{{ sale.sale_totalRetail | currency }}</td>
                            <td>{{ sale.sale_totalPayment | currency }}</td>
                            <td>{{ sale.sale_date | date }}</td>
                            <td>{{ sale.sale_maxDate | date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="creditAuthModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <app-auth-credit [client_ci]="summary?.cli_ci" (amountOutput)="updateClientCredit()"></app-auth-credit>
</div>

<div class="modal fade" id="amountModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <app-amount [user]="{ci: summary?.cli_ci, firstName: summary?.cli_firstName,lastName: summary?.cli_lastName}"></app-amount>
</div>
