/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";
body {
    background-color: #fafafa;
}

.card {
    border-radius: 5px;
}

input.ng-dirty.ng-invalid {
    border-radius: 2px;
    border-color: #dc3545;
}

input.ng-dirty.ng-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

label.ng-valid {
    border-radius: 2px;
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
}

label.ng-valid {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

table {
    margin-top: 10px;
    outline: 1px solid #555;
    background: #fff;
}

thead {
    background: #eee;
}

tbody {
    cursor: pointer;
}

td {
    padding-top: 0px;
    padding-bottom: 0px;
}
