<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <a class="card text-center shadow mb-3" [routerLink]="['../billing']" >
                <div class="card-header">
                    <h5 class="card-title">Facturación</h5>
                </div>
                <div class="card-body" action-description="Ir a Facturación">
                    <img src="assets/cash-register.svg" alt="">
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <a class="card text-center shadow mb-3" [routerLink]="['../sales/listing']" >
                <div class="card-header">
                    <h5 class="card-title">Ventas</h5>
                </div>
                <div class="card-body" action-description="Ir a Ventas">
                    <img class="img-fluid-home" src="assets/documents.svg" alt="">
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <a class="card text-center shadow mb-3" [routerLink]="['../products/new-product']" >
                <div class="card-header">
                    <h5 class="card-title">Agregar productos</h5>
                </div>
                <div class="card-body" action-description="Ir a Agregar productos">
                    <img class="img-fluid-home" src="assets/product.svg" alt="">
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <a class="card text-center shadow mb-3" [routerLink]="['../products/inventory']" >
                <div class="card-header">
                    <h5 class="card-title">Inventario</h5>
                </div>
                <div class="card-body" action-description="Ir a Inventario">
                    <img class="img-fluid-home" src="assets/inventory.svg" alt="">
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <a class="card text-center shadow mb-3" [routerLink]="['../clients/new-client']" >
                <div class="card-header">
                    <h5 class="card-title">Agregar clientes</h5>
                </div>
                <div class="card-body" action-description="Ir a Agregar clientes">
                    <img class="img-fluid-home" src="assets/add-user-group-woman-man.svg" alt="" >
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" action-description="Ir a ">
            <a class="card text-center shadow mb-3" [routerLink]="['../clients/listing']" >
                <div class="card-header">
                    <h5 class="card-title">Listado clientes</h5>
                </div>
                <div class="card-body" action-description="Ir a Listado clientes">
                    <img class="img-fluid-home" src="assets/list-clients.svg" alt="">
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <a class="card text-center shadow mb-3" [routerLink]="['../provider/new-provider']" >
                <div class="card-header">
                    <h5 class="card-title">Agregar proveedor</h5>
                </div>
                <div class="card-body" action-description="Ir a Agregar proveedor">
                    <img class="img-fluid-home" src="assets/manager.svg" alt="">
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <a class="card text-center shadow mb-3" [routerLink]="['../provider/listing']" >
                <div class="card-header">
                    <h5 class="card-title">Listado proveedores</h5>
                </div>
                <div class="card-body" action-description="Ir a Listado proveedores">
                    <img class="img-fluid-home" src="assets/list-provider.svg" alt="">
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <a class="card text-center shadow mb-3" [routerLink]="['../configuration']" >
                <div class="card-header">
                    <h5 class="card-title">Configuración</h5>
                </div>
                <div class="card-body" action-description="Ir a Configuración">
                    <img class="img-fluid-home" src="assets/settings.svg" alt="">
                </div>
            </a>
        </div>



    </div>
    <!-- <a routerLink="/auth/login">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->
</div>
