<div class="modal fade" id="modal-new" tabindex="-1" aria-labelledby="modal-new" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-new">Ingrese la nueva {{id$ | async}}</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="category">{{id$ | async | titlecase }}</label>
                    <input type="text" name="" id="" class="form-control" [(ngModel)]="name">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-success" (click)="saveOnTarget()">
                <i class="bi bi-save-fill" *ngIf="!isRequesting"></i>
                <div class="spinner-border text-dark" role="status" *ngIf="isRequesting">
                  <span class="visually-hidden"></span>
                </div>
                Guardar
              </button>
            </div>
        </div>
    </div>

</div>
